body {
    margin: 0 auto;
    background-color: #F6F6F6;
}

header {
    width: 100%;
    float: left;
}
.header-logo {
    box-shadow: 0px 6px 5px 0px rgba(184,184,184,1);
}
.header-logo p{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.header-logo h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.asliders {
    margin: 0 !important;
    margin-bottom: 50px;
}

.acordan {
    margin-top: 50px;
}

.white-border {
        border: 13px solid white;
}

.innerpadding {
    padding: 25px;
}

.innerpadding img{
    border: 6px solid white;
}

.gallery-title
{
    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: black;

}
.btn-default:active .filter-button:active
{
    background-color: black;
    color: white;
}

.port-image
{
    width: 100%;
}
 
.gallery_product
{
    margin-bottom: 30px;
}

footer {
    width: 100%;
    float: left;
    text-align: center;
    background-color: black;
    color: lightgray;
    height: 100px;
    padding-top: 40px;
}